@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Olá, seja bem-vindo ao HotelControl</h1>
        <p class="lead">Essa é uma aplicação simples.</p>
    </section>
</main>